.w-full
	width: 100%
.w-max
	max-width: 992px
	margin: auto
.m-auto
	margin: auto
.bg-b
	background: #000
.bg-w
	background-color: #FFF
.bg-rr
	background-color: $rr
.flex
	display: flex
.fx-center
	justify-content: center
.fy-center
	align-items: center
.block
	display: block
.hidden
	display: none
