<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  {% feed_meta %} {% seo %}
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<html>
  <body class="">
    {% include header.html %}
    <section class="">
      {{ content }}
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>